{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Title</title>
    </head>
    <body>
        <!--<iframe frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/k1ZPCqM4hhdEh8b214K" allowfullscreen></iframe><br /><a href="http://www.dailymotion.com/video/k1ZPCqM4hhdEh8b214K" target="_blank">Regis Doesn&#039;t Forget To Pull</a> <i>par <a href="http://www.dailymotion.com/olivier-at-fun" target="_blank">olivier-at-fun</a></i>-->

        <div id="dm-video"></div>

        <script src="{% static 'fun/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'dm/sdk.js' %}"></script>
        <script src="{% static 'dm/dm.js' %}"></script>
    </body>
</html>
